[package]
name = "catapulte"
version = "0.4.2"
description = "Catapulte is an open source mailer you can host yourself. You can use it to quickly catapult your transactionnal emails to destination."
authors = ["Jérémie Drouet <jeremie.drouet@gmail.com>"]
edition = "2018"
license-file = "license.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = ["provider-jolimail"]
provider-jolimail = ["reqwest"]

[dependencies]
actix-http = "3.0.0-rc.1"
actix-multipart = "0.4.0-beta.12"
actix-web = "4.0.0-beta.21"
actix-rt = "2.6.0"
async-trait = "0.1.52"
clap = { version = "3.0.13", features = ["derive", "env"] }
env_logger = "0.9.0"
futures = { version = "0.3.19", default-features = false }
futures-core = { version = "0.3.17", default-features = false }
handlebars = "4.2.1"
jsonwebtoken = "7.2.0"
lazy_static = "1.4.0"
lettre = { default-features = false, features = ["builder", "pool", "rustls-tls", "smtp-transport", "tokio1-rustls-tls"], version = "0.10.0-rc.4" }
log = "0.4.14"
mime = "0.3.16"
mrml = "1.2.7"
r2d2 = "0.8.9"
reqwest = { version = "0.11.9", default-features = false, features = ["json", "rustls-tls"], optional = true }
serde = { features = ["derive"], version = "1.0.136" }
serde_json = { version = "1.0.78" }
tempfile = "3.2.0"
uuid = { version = "0.8.2", features = ["v4"] }

# Fix build in docker
funty = "=2.0.0"

[dev-dependencies]
common-multipart-rfc7578 = "0.3.1"
env-test-util = "1.0.1"
reqwest = { version = "0.11.9", default-features = false, features = ["json", "rustls-tls"] }
serial_test = "0.5.1"
wiremock = "0.5.10"
