[package]
name = "catapulte"
version = "1.0.0"
description = "Catapulte is an open source mailer you can host yourself. You can use it to quickly catapult your transactionnal emails to destination."
authors = ["Jérémie Drouet <jeremie.drouet@gmail.com>"]
edition = "2021"
license-file = "license.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
axum = { version = "0.7.4", features = ["multipart"] }
clap = { version = "4.5.3", features = ["derive", "env"] }
config = { version = "0.14.0", default-features = false }
handlebars = { version = "5.1.0" }
lettre = { default-features = false, features = [
  "builder",
  "pool",
  "rustls-tls",
  "smtp-transport",
  "tokio1-rustls-tls",
], version = "0.11" }
metrics = { version = "0.22.1" }
metrics-exporter-prometheus = { version = "0.13.1", default-features = false, features = [
  "http-listener",
] }
mrml = { version = "3.1.0" }
reqwest = { version = "0.11.26", default-features = false, features = [
  "json",
  "rustls-tls",
] }
serde = { version = "1.0.197", features = ["derive"] }
serde_json = { version = "1.0.114" }
tempfile = { version = "3.10.1" }
thiserror = "1.0.58"
tokio = { version = "1.36.0", features = ["full"] }
tower-http = { version = "0.5.2", default-features = false, features = [
  "trace",
] }
tracing = { version = "0.1.40" }
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
utoipa = { version = "4.2.0", features = ["axum_extras"] }
utoipa-swagger-ui = { version = "6.0.0", features = ["axum"] }

[dev-dependencies]
http-body-util = "0.1.1"
lazy_static = "1.4.0"
multipart = "0.18.0"
tower = { version = "0.4.13" }
uuid = { version = "1.7.0", features = ["v4"] }
wiremock = { version = "0.6.0" }
