[package]
name = "catapulte"
version = "1.0.0-alpha-1"
description = "Catapulte is an open source mailer you can host yourself. You can use it to quickly catapult your transactionnal emails to destination."
authors = ["Jérémie Drouet <jeremie.drouet@gmail.com>"]
edition = "2021"
license-file = "license.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
axum = { version = "0.6", features = ["multipart"] }
clap = { version = "4.1", features = ["derive", "env"] }
config = { version = "0.13", default-features = false }
handlebars = { version = "4.3" }
lettre = { default-features = false, features = [
  "builder",
  "pool",
  "rustls-tls",
  "smtp-transport",
  "tokio1-rustls-tls",
], version = "0.10.0-rc.6" }
metrics = { version = "0.20" }
metrics-exporter-prometheus = { version = "0.11", default-features = false, features = [
  "http-listener",
] }
mrml = { version = "1.2" }
reqwest = { version = "0.11", default-features = false, features = [
  "json",
  "rustls-tls",
] }
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0" }
tempfile = { version = "3.3" }
tokio = { version = "1.24", features = ["full"] }
tower-http = { version = "0.3", default-features = false, features = ["trace"] }
tracing = { version = "0.1" }
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
utoipa = { version = "2.4", features = ["axum_extras"] }
utoipa-swagger-ui = { version = "3.0", features = ["axum"] }

[dev-dependencies]
lazy_static = "1.4"
multipart = "0.18"
tower = { version = "0.4" }
uuid = { version = "1.2", features = ["v4"] }
wiremock = { version = "0.5" }
