[package]
name = "catapulte"
version = "0.3.1"
authors = ["Jérémie Drouet <jeremie.drouet@gmail.com>"]
edition = "2018"
license-file = "license.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = ["provider-jolimail"]
provider-jolimail = ["reqwest"]

[dependencies]
actix-http = "2.2.0"
actix-multipart = "0.3.0"
actix-web = "3.3.2"
actix-rt = "1.1.1"
async-trait = "0.1.42"
env_logger = "0.8.2"
futures = "0.3.8"
handlebars = "3.4.0"
lettre = { features = ["connection-pool", "r2d2", "smtp-transport"], version = "0.9.5" }
lettre_email = "0.9.4"
log = "0.4.11"
mime = "0.3.16"
mrml = "0.4.0"
native-tls = "0.2.7"
r2d2 = "0.8.9"
reqwest = { version = "0.10.10", features = ["json"], optional = true }
serde = { features = ["derive"], version = "1.0.118" }
serde_json = { version = "1.0.61" }
tempfile = "3.1.0"
url = "2.1.1"
uuid = { version = "0.8.1", features = ["v4"] }

[dev-dependencies]
common-multipart-rfc7578 = "0.2.0-rc"
env-test-util = "1.0.1"
reqwest = { version = "0.10.10", features = ["json"] }
serial_test = "0.5.1"
wiremock = "0.4.3"
